.container {
    border: 3px solid lightgray;
    height: 800px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.flex-item {
    color: black;
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
}

.item-1 {
    background-color: lightblue;
    padding-top: 50px;
}

.item-2 {
    background-color: lightyellow;
    padding-bottom: 80px;
}

.item-3 {
    background-color: lightpink;
}

.item-4 {
    background-color: lightgreen;
    padding-top: 100px;
}

.item-5 {
    background-color: lightsalmon;
    padding-bottom: 70px;
}

.item-6 {
    background-color: lightskyblue;
    padding-top: 30px;
}